h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
h1 {
  text-decoration: underline;
  color: rgb(109, 121, 38);
  text-align: center;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(21, 100%, 50%);
  z-index: -1;
  transition: transform 0.3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}
body {
  background: #1e4f54;
}
p {
  color: chartreuse;
}
